<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<!--Uncomment this if you are using a template engine-->
<!--{{{body}}}-->
</body>
</html>
